.alert-container {
<<<<<<< HEAD
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.5);
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 20px;
=======
    background: rgba(0, 0, 0, 0.9);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.7);
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    transition: transform 0.3s ease-in-out;
}

.alert-container:hover {
    transform: scale(1.05);
>>>>>>> 6232376 (commited)
}

h2 {
    color: #00ff00;
    margin-bottom: 15px;
<<<<<<< HEAD
=======
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
>>>>>>> 6232376 (commited)
}

ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

li {
<<<<<<< HEAD
    padding: 10px;
    border-bottom: 1px solid #00ff00;
=======
    padding: 12px;
    margin: 5px 0;
    background: rgba(0, 255, 0, 0.1);
    border: 1px solid #00ff00;
    border-radius: 8px;
    transition: background 0.3s, transform 0.3s;
}

li:hover {
    background: rgba(0, 255, 0, 0.3);
    transform: scale(1.05);
>>>>>>> 6232376 (commited)
}

li:last-child {
    border-bottom: none;
}